In [11]:
#Importing pandas library
import pandas as pd

In [12]:
#Fetch the desired csv/excel file consisting data
df = pd.read_csv(r"C:\Users\Himanshu Kotkar\Downloads\hr_data - hr_data.csv")

In [13]:
#Print top 5 rows 
df.head()

,SLNO,Candidate Ref,DOJ Extended,Duration to accept offer,Notice period,Offered band,Pecent hike expected in CTC,Percent hike offered in CTC,Percent difference CTC,Joining Bonus,Candidate relocate actual,Gender,Candidate Source,Rex in Yrs,LOB,Location,Age,Status
0,1,2110407,Yes,14,30,E2,-20.79,13.16,42.86,No,No,Female,Agency,7,ERS,Noida,34,Joined
1,2,2112635,No,18,30,E2,50.00,320.00,180.00,No,No,Male,Employee Referral,8,INFRA,Chennai,34,Joined
2,3,2112838,No,3,45,E2,42.84,42.84,0.00,No,No,Male,Agency,4,INFRA,Noida,27,Joined
3,4,2115021,No,26,30,E2,42.84,42.84,0.00,No,No,Male,Employee Referral,4,INFRA,Noida,34,Joined
4,5,2115125,Yes,1,120,E2,42.59,42.59,0.00,No,Yes,Male,Employee Referral,6,INFRA,Noida,34,Joined

Q.1 Performing basic data cleaning

In [38]:
#Printing metadata to understad the data and also to look for any missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8995 entries, 0 to 8994
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   SLNO                         8995 non-null   int64
 1   Candidate Ref                8995 non-null   int64
 2   DOJ Extended                 8995 non-null   object
 3   Duration to accept offer     8995 non-null   int64
 4   Notice period                8995 non-null   int64
 5   Offered band                 8995 non-null   object
 6   Pecent hike expected in CTC  8995 non-null   float64
 7   Percent hike offered in CTC  8995 non-null   float64
 8   Percent difference CTC       8995 non-null   float64
 9   Joining Bonus                8995 non-null   object
 10  Candidate relocate actual    8995 non-null   object
 11  Gender                       8995 non-null   object
 12  Candidate Source             8995 non-null   object
 13  Rex in Yrs                   8995 non-null   int64
 14  LOB                          8995 non-null   object
 15  Location                     8995 non-null   object
 16  Age                          8995 non-null   int64
 17  Status                       8995 non-null   object
 18  agegroup                     8995 non-null   category
 19  states                       8995 non-null   object
 20  Status in num                8995 non-null   int64
 21  ctc_status                   8995 non-null   object
dtypes: category(1), float64(3), int64(7), object(11)
memory usage: 1.5+ MB

AS THERE ARE NO MISSING VALUES, WE WILL MOVE FORWARD AND THE DATA CLEANING PHASE WILL END.

Q.2 Derive a new column called agegroup from age column where persons falling in different
age ranges are categorized as below.
a. (0–15): young
b. (15–35): adults
c. (35–55): mid
d. (55–): old

In [15]:
#Using the pd.cut() to create intervals using a column already present 
#This can be used to compress specific columnn in a range
df["agegroup"] = pd.cut(df['Age'],bins=[0,15,35,55,100],labels=["young","adults","mid","old"])

In [16]:
df

,SLNO,Candidate Ref,DOJ Extended,Duration to accept offer,Notice period,Offered band,Pecent hike expected in CTC,Percent hike offered in CTC,Percent difference CTC,Joining Bonus,Candidate relocate actual,Gender,Candidate Source,Rex in Yrs,LOB,Location,Age,Status,agegroup
0,1,2110407,Yes,14,30,E2,-20.79,13.16,42.86,No,No,Female,Agency,7,ERS,Noida,34,Joined,adults
1,2,2112635,No,18,30,E2,50.00,320.00,180.00,No,No,Male,Employee Referral,8,INFRA,Chennai,34,Joined,adults
2,3,2112838,No,3,45,E2,42.84,42.84,0.00,No,No,Male,Agency,4,INFRA,Noida,27,Joined,adults
3,4,2115021,No,26,30,E2,42.84,42.84,0.00,No,No,Male,Employee Referral,4,INFRA,Noida,34,Joined,adults
4,5,2115125,Yes,1,120,E2,42.59,42.59,0.00,No,Yes,Male,Employee Referral,6,INFRA,Noida,34,Joined,adults
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8990,12319,3822427,No,4,0,E1,191.67,191.67,0.00,No,No,Male,Employee Referral,1,ERS,Chennai,34,Joined,adults
8991,12327,3828206,Yes,2,0,E1,150.00,150.00,0.00,No,No,Female,Direct,3,BFSI,Chennai,34,Joined,adults
8992,12331,3834159,No,0,0,E2,35.42,35.42,0.00,No,No,Male,Direct,5,INFRA,Noida,34,Joined,adults
8993,12332,3835433,No,0,30,E1,76.92,53.85,-13.04,No,No,Male,Direct,4,INFRA,Noida,34,Joined,adults
8994,12333,3836076,No,2,0,E1,45.25,14.09,-21.45,No,No,Female,Employee Referral,1,INFRA,Chennai,34,Joined,adults

Q.3 Print the number of candidates in each category

In [17]:
df["Offered band"].value_counts()

E1    5568
E2    2711
E3     505
E0     211
Name: Offered band, dtype: int64

Q.4 Find out the number of Candidates who have joined in each of the age categories.

In [18]:
df["agegroup"].value_counts()

adults    8556
mid        438
old          1
young        0
Name: agegroup, dtype: int64

Q.5 Map the locations to corresponding states and find out which state has the highest percentage of relocated candidates.

In [19]:
df["Location"].value_counts()

Chennai      3150
Noida        2727
Bangalore    2230
Hyderabad     341
Mumbai        197
Gurgaon       146
Kolkata       129
Pune           48
Others         13
Cochin          8
Ahmedabad       6
Name: Location, dtype: int64

In [20]:
#Create a dictionary of present values and the values you want to correspond to
states = {"Chennai":"Tamil Nadu","Noida":"Uttar Pradesh","Bangalore":"Karnataka","Hyderabad":"Telangana","Mumbai":"Maharashtra","Pune":"Maharashtra","Gurgaon":"Haryana","Kolkata":"West Bengal","Cochin":"Kerala","Ahmedabad":"Gujarat","Others":"Others"}

In [21]:
#Use map function to map the dictionary values to a new or existinng column
df["states"] = df["Location"].map(states)

In [22]:
#Using unstack() to separate the values based on their feature values
state_relocated_percentage = df.groupby('states')['Candidate relocate actual'].value_counts(normalize=True).unstack().fillna(0)['Yes'] * 100
print(state_relocated_percentage)
highest_relocated_state = state_relocated_percentage.idxmax() #idxmax() will print the highest index value
print("\nState with the highest percentage of relocated candidates:")
print(highest_relocated_state)

states
Gujarat          33.333333
Haryana           9.589041
Karnataka         7.892377
Kerala            0.000000
Maharashtra       6.938776
Others           15.384615
Tamil Nadu       17.968254
Telangana        10.557185
Uttar Pradesh    16.831683
West Bengal      13.953488
Name: Yes, dtype: float64

State with the highest percentage of relocated candidates:
Gujarat

Q.6 What is the average Percent hike offered in CTC for each of the – Source from which resume of the candidate was obtained.

In [24]:
#Using groupby() to group the values based on one or more features
#Also can use aggregate function which contains mean,median,count and many more arguements
c = df.groupby('Candidate Source')['Percent hike offered in CTC'].agg('mean')
c.first

<bound method NDFrame.first of Candidate Source
Agency               41.791219
Direct               39.827684
Employee Referral    41.311318
Name: Percent hike offered in CTC, dtype: float64>

Q.7 What is the proportion of joining bonus offered for male and female candidates respectively.

In [25]:
bonus = df.groupby('Gender')['Joining Bonus']
bonus.value_counts(normalize=True).unstack()["Yes"] * 100

Gender
Female    3.610574
Male      4.849543
Name: Yes, dtype: float64

Q.8 What is the average age of male and female candidates.

In [26]:
age = df.groupby('Gender')['Age'].agg('mean')

Q.9 Map the status 1 and 0 corresponding to Joined or not joined respectively

In [27]:
status = {"Joined" : 1,"Not Joined":0}

In [28]:
df["Status in num"] = df["Status"].map(status)

In [29]:
df["Status in num"].value_counts()

1    7313
0    1682
Name: Status in num, dtype: int64

Q.10 What is the proportion of candidates who have extended the DOJ according the the status of joining

In [30]:
doj = df.groupby("Status")["DOJ Extended"]
doj.value_counts(normalize = True).unstack()*100

DOJ Extended         No        Yes
Status
Joined        53.083550  46.916450
Not Joined    53.864447  46.135553

Q.11 Create a new column to store the status of ctc value as Increment, decrement and no difference based on difference in ctc.

In [31]:
def ctc_status(a):
    if a>0:
        return "Increment"
    elif a<0:
        return "Decrement"
    else:
        return "No difference"

In [32]:
df["ctc_status"] = df["Percent difference CTC"].map(ctc_status)

In [33]:
df["ctc_status"] .value_counts()

Decrement        3972
No difference    3476
Increment        1547
Name: ctc_status, dtype: int64

Q.12 Source from which resume of the candidate was obtained has highest number of increments.

In [34]:
incr = df.groupby("Candidate Source")["ctc_status"].value_counts().unstack()["Increment"]
print(incr)
print("\nHighest Increment Source : ")
print(incr.idxmax())

Candidate Source
Agency               476
Direct               788
Employee Referral    283
Name: Increment, dtype: int64

Highest Increment Source :
Direct

Q.13 What is the sum of male and female candidates in each of the business lines?

In [35]:
gen_sum = df.groupby("LOB")["Gender"].agg("count")
gen_sum

LOB
AXON           568
BFSI          1396
CSMP           579
EAS            346
ERS           2426
ETS            691
Healthcare     124
INFRA         2850
MMS             15
Name: Gender, dtype: int64

Q.14 What is the average notice period for male and female candidates in each of the Business lines.

In [36]:
avg_notice = df.groupby(["LOB","Gender"])["Notice period"].agg('mean')
avg_notice

LOB         Gender
AXON        Female    41.962025
            Male      43.282209
BFSI        Female    43.082707
            Male      43.579646
CSMP        Female    38.360656
            Male      39.715536
EAS         Female    42.058824
            Male      43.067797
ERS         Female    38.657957
            Male      40.129676
ETS         Female    43.097015
            Male      41.256732
Healthcare  Female    41.250000
            Male      41.388889
INFRA       Female    29.737991
            Male      35.781773
MMS         Female    37.500000
            Male      53.181818
Name: Notice period, dtype: float64

Q.15 For each location in each of the lines of business what is the mean of percentage hike offered and median of duration of accept offer for males and females respectively

In [37]:
locn = df.groupby(["Location","LOB","Gender"]).agg({"Percent hike offered in CTC":"mean","Duration to accept offer":"median"})
locn

                        Percent hike offered in CTC  Duration to accept offer
Location  LOB   Gender
Ahmedabad INFRA Male                      14.901667                       0.5
Bangalore AXON  Female                    38.562857                       6.0
                Male                      32.345315                      15.0
          BFSI  Female                    35.144444                      25.0
                Male                      36.112087                      29.5
...                                             ...                       ...
Pune      EAS   Male                      13.040000                       8.0
          ERS   Female                    30.509091                      18.0
                Male                      40.460000                      13.5
          ETS   Male                      -7.430000                       3.0
          INFRA Male                      33.671250                       2.0

[104 rows x 2 columns]